<!doctype html>
<html>
<head>
  <title>Read By Mood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">

      <h1>Navigation</h1>
      <a href="">RbT</a>
      <a href="profile">Me</a>

      <h1>Body</h1>
      <div class="row">
        {{#each rbt}}
          ID: {{id_rbt}}<br />
          IMG: <img src={{photo_rbt}} width=400><br />
          ROSE: {{rose}}<br />
          BUD: {{bud}}<br />
          THORN: {{thorn}}<br /><br />
          UID: {{id_user}}<br />
          UNAME: {{name}}<br />
          UPHOTO: <img src={{photo_user}} width=400><br />
        {{/each}}
      </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>