<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rose Bud Thorn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/rosebt.css" rel="stylesheet">
  </head>
 
  <body>
    <!--HEADER BEGIN-->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="/" style="color:white;">Rose Bud Thorn</a>
    </nav>
    <!--HEADER END-->



    <!--CONTENT BEGIN-->
    <div class="container">
      {{#each rbt}}
      <div class="well">
        <img src={{photo_user}} width="50" height="50">
        <h5><a href="/friend/{{id_user}}"}>{{name}}</a></h5>

        <h5>{{created_at}}</h5>
        <div class="container">
        <div class="hidden" name="id_rbt">{{id_rbt}}</div>
        <div class="hidden" id={{id_rbt}}_hash>{{photo_rbt}}</div>

          <div id={{id_rbt}}_spin style="width: 150px">
                  <img class="pano" id={{id_rbt}}_pano style="width: 150px" />
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td><span class="label label-danger">Rose</span></td>
                <td>{{rose}}</td>
              </tr>
              <tr>
                <td><span class="label label-success">Bud</span></td>
                <td>{{bud}}</td>
              </tr>
              <tr>
                <td><span class="label label-warning">Thorn</span></td>
                <td>{{thorn}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}
    </div>
    <!--CONTENT END-->



    <!--FOOTER BEGIN-->
    <ul class="nav nav-justified navbar-inverse navbar-fixed-bottom">
      <li class="active"><a class="bottomnav" href="/">Friends</a></li>
      <li><a class="bottomnav" href="/profile">Me</a></li>
    </ul>
    <!--FOOTER END-->

    <!--JAVASCRIPT BEGIN-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
    <script type="text/javascript" src="/js/sha256.js"></script>
    <script type="text/javascript" src="/js/fbRetrive.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--JAVASCRIPT END-->
  </body>
</html>